<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Title</Title>
    </head>
    <body>
        <table class="table">
            <tbody>
              <tr>
                <td>Сокет</td>
                <td>{{ product.socket }}</td>
              </tr>
              <tr>
                <td>Частота</td>
                <td>{{ product.frequency }}</td>
              </tr>
                <td>Колличество ядер</td>
                <td>{{ product.core }}</td>
              <tr>
                <td>Техпроцесс</td>
                <td>{{ product.technicalprocess }}</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>