<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Title</Title>
    </head>
    <body>
        <table class="table">
            <tbody>
              <tr>
                <td>Сокет</td>
                <td>{{ product.socket }}</td>
              </tr>
              <tr>
                <td>Чипсет</td>
                <td>{{ product.chipset }}</td>
              </tr>
                <td>Тип памяти</td>
                <td>{{ product.memory_type }}</td>
              <tr>
                <td>Слоты</td>
                <td>{{ product.slot }}</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>