<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Title</Title>
    </head>
    <body>
        <table class="table">
            <tbody>
              <tr>
                <td>Объём памяти</td>
                <td>{{ product.volume }}</td>
              </tr>
              <tr>
                <td>Частота</td>
                <td>{{ product.frequency }}</td>
              </tr>
              <tr>
                <td>Напряжение</td>
                <td>{{ product.voltage }}</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>