<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Title</Title>
    </head>
    <body>
        <table class="table">
            <tbody>
              <tr>
                <td>Объём видеопамяти</td>
                <td>{{ product.videomemory }}</td>
              </tr>
              <tr>
                <td>Частота</td>
                <td>{{ product.frequency }}</td>
              </tr>
                <td>Тип видеопамяти</td>
                <td>{{ product.videomemory_type }}</td>
            </tbody>
          </table>
    </body>
</html>